#goblog{
    width: 126px;
    height: 39px;
    border: 3px solid wheat;
    border-radius: 2px 15px 5px 15px;
    margin-top: 7px;
    margin-bottom: 6px;
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
    font-weight: 900;
    font-style: oblique;
    font-family: Trebuchet MS;
    color: wheat;
    letter-spacing: -0.2rem;
}

#goblog span{
    font-size: 36px;
}

.navbar.navbar-inverse{
    background-color: #481d04;
}

#navbar button{
    background-color: #8a7e5b;
    border-color: #8a7e5b;
}

#navbar .navbar-form.navbar-right{
    margin-top: 10px;
}